<h1><%= t "mailer.password_reset_subject" %></h1>
<p><%= t "mailer.password_reset_instruction" %></p>
<%= link_to t("mailer.password_reset_text"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t("mailer.password_reset_expire_notify") %></p>
<p><%= t("mailer.password_reset_warning") %></p>
