<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("microposts.placeholder") %>
  </div>
  <%= f.submit t("post_text"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.picture_upload.accept_filetype %>
  </span>
<% end %>
